.filter {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1;

    &__list {
        display: flex;
        align-items: center;
        font-size: 0;
    }

    &__item {
        margin-left: 25px;
        border-radius: 100px;

        &:hover {
            background-color: rgb(227, 227, 227);
        }

        &--icon {
            padding: 10px;
            border-radius: 100px;
            cursor: pointer;
            background-color: rgb(255, 255, 255);
        }
    }

    &__icon {
        font-size: 25px;
    }

    &__content {
        position: absolute;
        background-color: white;
        top: 60px;
        right: 0;
        padding: 25px;
        width: 250px;
        border-radius: 10px;
    }

    &__content-container {
        margin-top: 10px;
    }

    &__title {
        font-size: 17px;
        font-weight: 500;
        color: rgb(60, 60, 60);
        font-weight: 600;
        margin-bottom: 20px;
    }
}
