@import "../../../../styles/variables.scss";

.chatting-messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &__item {
        font-size: 11px;
        max-width: 70%;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin: 5px 0;

        &--ai {
            align-self: flex-start;
            background-color: #F6F7F7;
            color: rgb(46, 46, 46);
            border-bottom-left-radius: 0;
        }

        &--me {
            background-color: #1395FF;
            align-self: flex-end;
            color: rgb(247, 247, 247);
            border-bottom-right-radius: 0;
        }

        &--loading-message {
            padding: 5px 10px;
            width: 35px;
            font-size: 20px;
        }
    }

    &__info {
        display: flex;
        margin-top: 8px;
    }

    &__info-item {
        margin-right: 8px;
        display: flex;
    }

    &__info-title {
        font-weight: 500;
        font-style: italic;
    }

    &__info-content {
        margin-left: 4px;
    }

    &__message-type-img {
        width: 15px;
        height: 15px;
    }

    &__skelton-list {
        display: flex;
        flex-direction: column;
    }

    &__skelton {
        width: 80%;
        height: 80px;
        margin: 10px 0;
        padding: 10px;

        &--user {
            align-self: flex-end;
        }
    }

    &__hello-message {
        font-size: 12px;
        text-align: center;
        color: rgb(158, 158, 158);
        margin-top: auto;
        margin-bottom: 20px;
    }

    @media only screen and (max-width: $mobile-width) {
        &__item {
            max-width: 90%;
            padding: 8px;
        }
    }
}