.laoding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #4d4e4f;
    flex-direction: column;

    &__logo {
        width: 250px;
        margin-bottom: 35px;
    }
}