@import "../../../styles/variables.scss";

.earthquake-raw {
    &__button {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
        border-radius: 10px !important;
        border: 2px solid transparent !important;
        background-color: #313133 !important;
        transition: .2s !important;

        &:hover {
            background-color: #38383a !important;
            transform: scale(1.02);
        }

        &--new {
            border-color: rgb(138, 138, 138) !important;
        }
    }

    &__just-now {
        position: absolute;
        right: 5px;
        top: 5px;
        color: rgb(255, 255, 255);
        animation: blink 1s infinite;
        font-size: 30px;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.2;
        }

        100% {
            opacity: 1;
        }
    }

    &__item {
        margin: 3px 0;
        display: flex;
        align-items: center;

        &--tag {
            background-color: #59595e;
            padding: 5px 8px;
            border-radius: 5px;
            margin-left: 10px;
        }

        &--intensity {
            font-weight: 700;
            font-size: 21px;
        }

        &--depth {
            font-size: 12px;
        }

        &--date {
            font-size: 12px;
        }

        &--title {
            font-size: 13px;
            font-weight: 300;
        }
    }

    &__item-icon {
        margin-right: 5px;
    }

    &__line {
        display: flex;
        align-items: center;
    }

    @media only screen and (max-width: $mobile-width) {
        &__just-now {
            font-size: 10px;
            font-weight: 600;
        }

        &__item {
            &--intensity {
                font-size: 15px;
            }

            &--depth {
                font-size: 11px;
            }

            &--date {
                font-size: 11px;
            }

            &--title {
                font-size: 12px;
            }
        }
    }
}