.skelton {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000000d;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    height: 20px;
    display: flex;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}