@import "../../styles/variables.scss";

.app-top {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    width: 100%;

    &__info-list {
        margin-right: auto;
        display: flex;
        align-items: center;
    }

    &__action-list {
        display: flex;
        align-items: center;
    }

    &__action-item {
        font-size: 33px;
        color: rgb(182, 182, 182);
        cursor: pointer;
        margin-right: 10px;

        &--github {
            color: rgb(30, 30, 30);

            &:hover {
                color: rgb(54, 54, 54) !important;
            }
        }

        &:hover {
            color: rgb(166, 166, 166);
        }
    }

    &__action-links {
        margin-right: 40px;
    }

    &__link {
        position: relative;
        display: flex;
        justify-content: center;

        &:hover {
            .app-top {
                &__link-tooltip {
                    display: block;
                }
            }
        }
    }

    &__link-text {
        color: rgb(201, 201, 201);
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;

        &:hover {
            color: rgb(174, 174, 174);
            text-decoration: underline;
        }

        &--disabled {
            color: rgb(114, 114, 114);
            pointer-events: none;
        }
    }

    &__link-tooltip {
        padding: 4px;
        position: absolute;
        z-index: 1;
        background-color: rgb(147, 147, 147);
        color: rgb(48, 48, 48);
        font-size: 11px;
        text-align: center;
        width: 200%;
        top: 30px;
        border-radius: 5px;
        display: none;

        &:after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgb(147, 147, 147) transparent;
        }
    }

    &__login-button {
        display: flex;
        align-items: center;

        &--disabled {
            opacity: .5;
            pointer-events: none;
        }
    }

    &__login-loading {
        margin-right: 10px;
    }
}