@import "../../styles/variables.scss";

.app-top {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    width: 100%;

    &__info-list {
        margin-right: auto;
        display: flex;
        align-items: center;
    }

    &__action-list {
        display: flex;
    }

    &__action-item {
        font-size: 33px;
        color: rgb(182, 182, 182);
        cursor: pointer;
        margin-right: 10px;

        &--github {
            color: rgb(30, 30, 30);

            &:hover {
                color: rgb(54, 54, 54) !important;
            }
        }

        &:hover {
            color: rgb(166, 166, 166);
        }
    }

    &__login-button {
        display: flex;
        align-items: center;

        &--disabled {
            opacity: .5;
            pointer-events: none;
        }
    }

    &__login-loading {
        margin-right: 10px;
    }
}