@import "../../../../styles/variables.scss";

.filter-panel {
    &__item {
        margin: 20px 0;
    }

    &__mobile-button {
        position: fixed;
        right: 14px;
        top: 64px;
        z-index: 3;
        background-color: white;
        padding: 8px 8px 3px 8px;
        border-radius: 5px;
        display: none;
    }

    &__clear-button {
        width: 100%;
    }

    @media only screen and (max-width: $mobile-width) {
        right: 14px;
        top: 60px;
        padding: 5px;

        &__mobile-button {
            display: block;
        }

        &__item {
            margin: 13px 0;
        }
    }
}
