@import '../../../../styles/variables.scss';

.chatting-message-input {
    width: 100%;
    padding: 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;

    &__input-container {
        background-color: #F6F7F7;
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 30px;
        border: 2px solid transparent;
        transition: .2s;

        &--focused {
            border-color: #5eb4ff;
        }
    }

    &__type-text {
        width: 100%;
        border-width: 0;
        background-color: transparent;
        font-weight: 400;
        color: rgb(71, 71, 71);

        &::placeholder {
            color: rgb(128, 128, 128);
        }
    }

    &__send-button {
        background-color: #1395FF;
        font-size: 12px;
        padding: 8px 13px;
        border-radius: 20px;
        font-weight: 600;
        color: white;
        margin-left: 10px;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: #35a4ff;
        }

        &--disabled {
            background-color: rgb(193, 197, 201);
            color: rgb(108, 108, 108);
            pointer-events: none;
        }
    }

    &__no-limit {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -30px;
        position: absolute;
        font-size: 11px;
        background-color: #FFF4E5;
        font-weight: 400;
        color: rgb(55, 55, 55);
        padding: 4px 20px;
        border-radius: 7px;
        color: #663C00;
        align-self: center;
    }

    &__no-limit-text {
        margin-left: 5px;
    }

    @media only screen and (max-width: $mobile-width) {
        &__input-container {
            padding: 8px;
            border-width: 1;
        }
    }
}