@import "../../../styles/variables.scss";

.chatting-top-header {
    width: 100%;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-weight: 700;
        color: #a0a8b3;
        margin-left: 3px;
        font-size: 16px;
    }

    &__ai-image {
        width: 25px;
        height: 25px;
    }

    @media only screen and (max-width: $mobile-width) {
        &__text {
            font-size: 14px;
        }

        &__ai-image {
            width: 20px;
            height: 20px;
        }
    }
}

.chatting-popup {
    width: 600px;
    height: 100%;
    max-height: 75%;

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}