@import "../../../styles/variables.scss";

.chatting-popup {
    width: 600px;
    height: 100%;
    max-height: 75%;

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}