@import "../../../styles/variables.scss";

.update-timer {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    &__content {
        font-size: 13px;
        margin-top: 30px;
        position: relative;
        color: rgb(44, 44, 44);
        display: flex;
        align-items: center;
    }

    &__timer-type {
        padding: 11px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(&--disabled):hover {
            cursor: pointer;

            &:hover {
                .update-timer {
                    &__icon {
                        transform: rotate(180deg);
                    }

                    &__bg-filter {
                        background-color: rgb(239, 239, 239);
                    }
                }
            }
        }
    }

    &__timer-minutes {
        width: 25px;
        text-align: center;
    }

    &__archive-type {
        padding: 11px;
        display: flex;
        justify-content: center;
    }

    &__icon {
        transition: .3s;
    }

    &__bg-filter {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-radius: 7px;
        background-color: rgb(255, 255, 255);
        opacity: 0.6;
        filter: blur(0.6px);
    }

    @media only screen and (max-width: $mobile-width) {
        &__content {
            font-size: 10px !important;
            padding: 4px !important;
            margin-top: 23px;
        }
    }
}