@import "../../../styles/variables.scss";

.update-timer {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    &__content {
        font-size: 12px !important;
        padding: 7px !important;
        margin-top: 30px;
    }

    @media only screen and (max-width: $mobile-width) {
        &__content {
            font-size: 10px !important;
            padding: 4px !important;
            margin-top: 15px;
        }
    }
}
